* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://www.muralswallpaper.co.uk/app/uploads/colourful-building-blocks-childrens-plain.jpg);
    background-size: cover;
}

.linea {
    display: inline-block;
    background-color: lightgrey;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
}

.secondoblocco {
    margin-top: 15px;
}

.sconti {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.trenta {
    background-color: orange;
}

img {
    width: 280px;
    position: absolute;
    top: 30px;
    right: 10px;

}

.cuore {
    color: red;
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: 0;
    font-size: 35px;
    display: none;

}

.linea:hover .cuore {
    display: block;
}

main {
width: 930px;
margin: 0 auto;;
margin-top: 10px;
margin-bottom: 10px;
}
